body {
  margin: 0;
  font-family: 'Cute Font', cursive;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  font-family: 'Cute Font', cursive;
  font-size: 24px;
}

code {
  font-family: 'Cute Font', cursive;
  font-size: 24px;
}